# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
ENV/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# IDE/editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac
.DS_Store

# Windows
Thumbs.db

# Pyenv
.python-version

# pycharm
.idea/

# node modules
node_modules/
